.fields {
    background-color: #F5F6FA;
    border-radius: 6px;
    /* border: 0.3px solid rgba(171, 171, 171, 0.2); */
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    color: gray;
}

.maincontainer {
    background: rgba(248, 249, 250, 1);
 }

