.columnheading {
  color: rgba(113, 142, 191, 1);
  font-size: smaller;
}
.controldiv {
  border: 0.3px solid rgba(145, 110, 201, 1);
  border-radius: 30px;
}
td {
  font-size: 14px;
}

@media (max-width: 1024px) {
  .flex { flex-direction: column; }
  .ml-60 { margin-left: 1rem; }
  .w-80 { width: 100%; }
  .ml-40 { margin-left: 1rem; }
  .space-x-10 > * { margin-left: 1rem; }
}

@media (max-width: 768px) {
  .vh-90 { height: auto; }
  .fields { width: 100%; }
}