.fields {
  background-color: #F5F6FA;
  font-size: 13px;
  color: rgba(51, 51, 51, 1);
}

.mainContainer {
  border-radius: 30px;
  background: rgba(248, 249, 250, 1);
 

}

.bgpurple {
  background-color: #BA29FF;
}

.rightsectionbg {
  background-color: #F8F9FA;
}