<div class="bg-gray-200 min-h-screen  sm:pl-10 sm:pr-10 md:px-20  pt-10 lg:pl-40 lg:pr-40">
  <div class="bg-white flex flex-col lg:flex-row items-center justify-center mainContainer pb-10">
    <div class="flex flex-col items-center text-center lg:text-left">
      <div class="flex items-center mb-8">
        <img alt="Atlas Track Logo" class="mr-2" height="150" src="assets/companyLogo.png" width="250"/>
      </div>
      <img alt="Device Image" class="mb-4 w-3/4 sm:w-2/3 md:w-1/2 lg:w-[400px]" src="assets/deviceDefualt.png"/>
      <a class="bg-purple-600 text-white py-2 px-4 rounded-full mt-4">
        Visit More
      </a>
    </div>
    <div class="rounded-lg shadow-lg p-6 mt-8 w-full max-w-md lg:ml-32" style="background-color: rgba(214, 214, 214, 0.76);">
      <div class="flex items-center justify-between mb-8">
        <span class="text-lg font-semibold">Alarm</span>
        <div class="flex items-center">
          <input class="mr-2" name="alarm" type="radio"/>
          <label class="mr-2">Enable</label>
          <input name="alarm" type="radio"/>
          <label class="ml-2">Disable</label>
        </div>
      </div>
      <div class="mb-4 flex flex-col lg:flex-row items-center">
        <label class="block text-gray-700 w-full lg:w-1/2">490M Date / Time</label>
        <input class="w-full lg:w-2/3 fields p-2 rounded" type="text" value="02/28/2020 | 11:09:18"/>
      </div>
      <div class="mb-4 flex flex-col lg:flex-row items-center">
        <label class="block text-gray-700 w-full lg:w-1/2">PC Date / Time</label>
        <input class="w-full lg:w-2/3 fields p-2 rounded" type="text" value="02/28/2020 | 11:09:18"/>
      </div>
      <div class="flex flex-col lg:flex-row items-center justify-between mb-8 lg: mt-8">
        <button class="bg-purple-600 text-white py-2 px-4 rounded-full w-full lg:w-auto mb-2">
          Synchronize Time
        </button>
        <div class="flex items-center  lg:mt-0">
          <input class="mr-2 lg:mr-2" type="checkbox"/>
          <label class="lg:mr-8">Synchronize Time</label>
        </div>
      </div>
      <div class="mb-4 flex flex-col lg:flex-row items-center">
        <label class="block text-gray-700 w-full lg:w-1/2">Incubator</label>
        <input class="w-full lg:w-2/3 fields p-2 rounded" type="text" value="Atlas Rapid Mini"/>
      </div>
      <div class="mb-4 flex flex-col lg:flex-row items-center">
        <label class="block text-gray-700 w-full lg:w-1/2">Incubator serial number</label>
        <input class="w-full lg:w-2/3 fields p-2 rounded" [(ngModel)]="incubatorSerialNumber" value="SN-111 222 333"/>
      </div>
      <div class="mb-4 flex flex-col lg:flex-row items-center">
        <label class="block text-gray-700 w-full lg:w-1/2">BI type</label>
        <input class="w-full lg:w-2/3 fields p-2 rounded" [(ngModel)]="biType" value="Atlas Rapid AX224"/>
      </div>
      <div class="flex flex-col lg:flex-row items-center justify-between">
        <button class="bg-purple-600 text-white py-2 px-8 rounded-full w-full lg:w-2/3 mb-3" (click)="onServicePackClick()">
          Service Pack
        </button>
        <button class="bg-gray-800 text-white py-2 px-12 lg:ml-8 rounded-full w-full lg:w-2/3  lg:mt-0 mb-3">
          Close
        </button>
      </div>
    </div>
  </div>

  <app-notification-popup [isOpen]="showPopup" [message]="popupMessage" [type]="popupType" (onClose)="closePopup()"></app-notification-popup>


</div>